name: Publish Firmware

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@2025.8.1
    with:
      #### Modify below here to match your project ####
      files: |
        project-template-esp32.factory.yaml
        project-template-esp32-c3.factory.yaml
        project-template-esp32-c6.factory.yaml
        project-template-esp32-s3.factory.yaml
      esphome-version: 2025.8.0
      combined-name: project-template
      #### Modify above here to match your project ####

      release-summary: ${{ github.event.release.body }}
      release-url: ${{ github.event.release.html_url }}
      release-version: ${{ github.event.release.tag_name }}

  upload-to-release:
    name: Upload to Release
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.8.1
    needs:
      - build-firmware
    with:
      version: ${{ github.event.release.tag_name }}
